
.map-container-6{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
    }
    .map-container-6 iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
    }


body{
    font-family: 'Lato', sans-serif;
}
h1,h2,h3,h4,h5,h6{
    font-weight: bold;
}
img{
    max-width: 100%;
    height: auto;
}
ul,ol{
    list-style:none;
}
section{
    padding: 45px 10px 80px 10px;
}
section .heading{
    text-align: center;
    padding-bottom: 100px;
}
section .heading h2{
    text-transform: uppercase;
}
.red-divider{
    width: 100px;
    height: 2px;
    background: #d82c2e;
    margin: 0 auto 20px;

}
.white-divider{
    width: 100px;
    height: 2px;
    background: #fff;
    margin: 0 auto 20px;
}




.navbar {
    background-color: #d82c2e;
    font-size: 12px;
    border-bottom: 1px solid #fff;
    letter-spacing: 4px;
    text-transform: uppercase;
    font-weight: bold;
}
.nav-pills .nav-link{
    color: #fff !important;
    text-align: center;
}
.nav-pills .nav-link.active,  .nav-pills .nav-link:hover{
    color: #d82c2e !important;
    background-color: #fff !important;
}
.navbar-toggler{
    color: #fff !important;
    border-style: none;
}

 


.button1{
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    border: 1px solid white;
    display: inline-block;
    margin-top:  20px;
    padding: 18px 50px;
    border-radius: 3px;
    transition: all 0.3s ease-in 0s;
}
.button1:hover{
    background: white;
    color: #d82c2e;
    text-decoration: none;
}



#skills{
    background: #fff;
}

#skills .heading h2 {
    color: #d82c2e;
}
#skills .progress{
    height: auto;
    margin: 30px 20px;
    background: #ddd;
}
#skills .progress-bar{
    background: #d82c2e;
}
#skills .progress h5{
    margin-top: 5px;
    text-shadow: 1px 1px 1px #000;
}

#info-perso{
    background: #fff;
}
#info-perso .heading h2{
    color: #d82c2e;
}
.info-perso-block{
    width:90%;
    margin: 0 auto;
    text-align: center;
    padding: 30px;
    background: #ddd;
    border-radius: 10px;
    border: 2px solid #ccc;
    margin-bottom: 20px;

}
.info-perso-block h5{
    color: #888;
    font-size: 15px;
    margin-bottom: 15px;
}
.info-perso-block .fas{
    font-size: 35px;
}
.info-perso-block h3{
     color: #d82c2e;
}
.info-perso-block h4{
   margin-bottom: 20px;
}
.info-perso-block p{
  font-weight: bold;
}
.info-perso-block .red-divider{
    margin-bottom: 20px;
}

